/*Main Color*/
/*//*/
a:hover,
a:focus,
a:active {
  color: #ff4031;
}
.color {
  color: #ff4031;
}
.bg-color {
  background-color: #ff4031;
}
.desc.color {
  color: #ff4031;
}
.main-nav > ul > li > a:hover {
  color: #ff4031;
}
.dropdown-list li a:hover {
  background: #ff4031;
}
.product-title a:hover {
  color: #ff4031;
}
.popup-icon {
  color: #ff4031;
}
body .scroll-top {
  border-color: #ff4031;
}
body .scroll-top:hover {
  background-color: #ff4031;
}
.preload #loading {
  background-color: #ff4031;
}
.main-nav > ul > li:hover > a {
  color: #ff4031;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #ff4031;
  border-color: #ff4031;
}
.shop-button:hover,
.product-extra-link a:hover {
  background: #ff4031;
  border-color: #ff4031;
}
.shop-button.bg-color {
  background: #ff4031;
}
.submit-form:hover::after {
  background-color: #ff4031;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #ff4031;
}
.owl-theme.pagi-border .owl-controls .owl-page.active span {
  border: 2px solid #ff4031;
  box-shadow: 0 0 0 3px #ff4031;
}
.owl-theme.pagi-border-black .owl-controls .owl-page.active span {
  border: 2px solid #ff4031;
  box-shadow: 0 0 0 3px #ff4031;
}
.mini-cart-box.aside-box .mini-cart-button a.mini-cart-view:hover {
  background-color: #ff4031;
}
.title-box1 .fa {
  color: #ff4031;
}
.top-custom-link li.active a {
  background-color: #ff4031;
}
.item-product1 .product-thumb .quickview-link:hover {
  background-color: #ff4031;
}
.owl-theme.rect-navi .owl-controls .owl-buttons div:hover {
  color: #ff4031;
}
.item-list-cat1 h2.title14 i {
  color: #ff4031;
}
.contact-footer1 li .desc .fa,
.list-menu1 > li > a::before {
  color: #ff4031;
}
.mega-cat-brand li a:hover {
  border-color: #ff4031;
}
.more-mega-cat .dropdown-link:hover {
  background-color: #ff4031;
}
.title-box2::before,
.title-box2::after {
  background-color: #ff4031;
}
.product-tab-store2 .list-tab-brand li.active a::after {
  color: #ff4031;
}
.product-tab-store2 .list-tab-brand li.active a {
  border-color: #ff4031;
}
.item-list-cat1.style2 > h2 .fa {
  background-color: #ff4031;
}
.title-dealday .dealday-label::before {
  border-right: 50px solid #ff4031;
}
.list-tab-scroll li.active a {
  background-color: #ff4031;
}
.tab-paginav a.current,
.tab-paginav a:hover {
  color: #ff4031;
}
.title-list-tab4 li.active a {
  color: #ff4031;
}
.title-list-tab4 li.active a::before {
  background-color: #ff4031;
}
.shop-button2 {
  background: #ff4031;
}
.box-mega-category.style2 .more-mega-cat .dropdown-link {
  color: #ff4031;
}
.box-mega-category.style2 .more-mega-cat .dropdown-link:hover {
  background-color: #ff4031;
}
.hot-cat5 .list-none li a:hover {
  background-color: #ff4031;
  border-color: #ff4031;
}
.item-product.table-custom .product-thumb .quickview-link {
  color: #ff4031;
}
.item-product.table-custom .product-thumb .quickview-link:hover,
.item-product9 .product-thumb .quickview-link:hover {
  background-color: #ff4031;
}
.hot-cat5 h3::before {
  background: #ff4031;
}
.box-mega-category.style3 .title-cat-mega {
  background-color: #ff4031;
}
a.shopnow-check::before {
  background-color: #ff4031;
}
.shop-button3:hover {
  background-color: #ff4031;
}
.item-adv7 .banner-info .shop-button3:hover {
  background-color: #ff4031;
}
.list-title-tab7 li.active a {
  color: #ff4031;
}
.title-brand-tab li.active a::before {
  background-color: #ff4031;
}
.block-product-recommended .aside-recommended {
  border-right: 2px solid #ff4031;
}
.list-tab-recommended li.active a::before {
  background-color: #ff4031;
}
.list-tab-recommended li.active a {
  color: #ff4031;
}
.box-category8 {
  border-right: 2px solid #ff4031;
}
.box-category8 .viewall:hover {
  background-color: #ff4031;
  border-color: #ff4031;
}
.custom-scroll ::-webkit-scrollbar-thumb {
  background-color: #ff4031;
}
.item-product9 .product-thumb {
  border: 10px solid #ff4031;
}
.top-header.bg-color {
  background-color: #ff4031;
}
a.shopnow:hover span,
a.shopnow:hover span::after {
  background-color: #ff4031;
}
.item-slider10 .banner-info .shop-button:hover {
  border-color: #ff4031;
  background-color: #ff4031;
}
.box-aside10 .viewall:hover {
  color: #ff4031;
}
.form-subscribe input[type="submit"] {
  background-color: #ff4031;
}
.search-looking .submit-form::after {
  color: #ff4031;
}
.title-line-top span::before,
.title-line-top span::after {
  background-color: #ff4031;
}
.client-review12 h2::after,
.item-adv12 .banner-info h2::after {
  background-color: #ff4031;
}
.banner-slider13 .round-navi .owl-controls .owl-buttons div {
  border: 1px solid #ff4031;
  color: #ff4031;
}
.banner-slider13 .round-navi .owl-controls .owl-buttons div:hover {
  background-color: #ff4031;
}
.item-popcat13 h3 a {
  border-top: 1px solid #ff4031;
  border-bottom: 1px solid #ff4031;
}
.item-popcat13 .popcat-thumb13:hover {
  border-color: #ff4031;
}
.banner-slider14 .item-slider14 .banner-info hr {
  border-color: #ff4031;
}
.title-box14::before {
  background-color: #ff4031;
}
.item-adv15 .banner-info hr {
  border-color: #ff4031;
}
.item-popcat15:hover .popcat-thumb {
  border-color: #ff4031;
}
.product-slider15 .item-product1:hover::before {
  border: 1px solid #ff4031;
}
.list-title-tab16 li.active a {
  color: #ff4031;
  border-color: #ff4031;
}
.list-title-tab16 li a:hover {
  color: #ff4031;
}
.collect-countdown .time_circles > div > .number,
.text-saleoff17 span.title36 sup {
  border-bottom: 1px solid #ff4031;
}
.collect-countdown .time_circles > div::after {
  background-color: #ff4031;
}
.item-client17 .client-info h3::before {
  background-color: #ff4031;
}
.item-client17 .client-thumb a {
  border: 10px solid #ff4031;
}
.item-client17 .client-info .desc::before {
  color: #ff4031;
}
.item-policy18 .policy-icon a {
  background-color: #ff4031;
}
.list-title-tab18 li.active a span {
  background-color: #ff4031;
}
.list-title-tab18 li.active a {
  color: #ff4031;
}
.viewall-trend:hover {
  background-color: #ff4031;
  border-color: #ff4031;
}
.widget-title {
  border-bottom: 2px solid #ff4031;
}
.range-filter .slider-range {
  background: #ff4031;
}
.range-filter .slider-range .ui-slider-handle.ui-state-hover {
  background: #ff4031;
}
.pagi-nav a.current {
  background-color: #ff4031;
  border-color: #ff4031;
}
.view-type a.active {
  background-color: #ff4031;
  border-color: #ff4031;
}
.item-product-list .product-thumb .quickview-link:hover {
  background-color: #ff4031;
}
.detail-gallery .gallery-control .carousel li a.active {
  border-color: #ff4031;
}
.wrap-qty-cart .product-extra-link a:not(.addcart-link) {
  color: #ff4031;
}
.wrap-qty-cart .product-extra-link a:hover {
  border-color: #ff4031;
}
.wrap-qty-cart .product-extra-link a.addcart-link {
  background-color: #ff4031;
  border-color: #ff4031;
}
.list-tag-detail li.active a {
  color: #ff4031;
}
.about-intro-top h3::before {
  background: #ff4031;
}
.list-about-page > li.current > a {
  color: #ff4031;
}
.about-title-number a.readmore {
  color: #ff4031;
  border-color: #ff4031;
}
.about-title-number .readmore:hover {
  background-color: #ff4031;
}
.item-page-view .page-view-info .btn-page-view:hover,
.item-page-view .page-view-link:hover {
  background-color: #ff4031;
  border-color: #ff4031;
}
.list-about-page > li.current > a::after {
  border-color: #ff4031;
}
.about-title-number::before {
  background-color: #ff4031;
}
.about-banner-history .banner-info h3::before {
  background: #ff4031;
}
.item-price-table .btn-purchase {
  border: 2px solid #ff4031;
  color: #ff4031;
}
.item-price-table .btn-purchase:hover {
  background-color: #ff4031;
}
.share-social-team a:hover {
  background-color: #ff4031;
}
.form-coming input[type="submit"] {
  background-color: #ff4031;
}
.coming-social a:hover {
  background-color: #ff4031;
}
.coming-countdown > .time_circles > div > .number::after {
  background-color: #ff4031;
}
.coming-countdown > .time_circles > div::before {
  border: 10px solid #ff4031;
}
.wc-proceed-to-checkout a.checkout-button,
.woocommerce table.shop_table td.actions input[type=submit] {
  background-color: #ff4031;
}
.form-my-account input[type="submit"]:hover {
  background-color: #ff4031;
}
.item-list-cat1 .viewall:hover {
  background-color: #ff4031;
  border-color: #ff4031;
}
.list-tab-brand li.active a {
  border-color: #ff4031;
}
.list-tab-brand li.active a::after {
  color: #ff4031;
}
.item-post-grid .post-info h3::after {
  background-color: #ff4031;
}
.link-rect:hover {
  background-color: #ff4031;
}
.top-header8.top-header {
  background-color: #ff4031;
}
.item-adv14 .adv-seleoff14.style2 {
  background-color: rgba(255, 64, 49, 0.9);
}
.item-post-wg .comment-count .fa {
  color: #ff4031;
}
@media (max-width: 767px) {
  .main-nav > ul li:hover > a {
    color: #ff4031 !important;
  }
  .main-nav .toggle-mobile-menu span,
  .main-nav .toggle-mobile-menu::before,
  .main-nav .toggle-mobile-menu::after {
    background: #ff4031;
  }
}
